{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-1"></div>
  <div class="list-group col-sm-10">
    <form class="" method="post">
      <a href="/edit/{{ p.key().id() }}" class="btn btn-primary">Edit Post</a>
      <input type="submit" class="btn btn-info" value="{{like_btn}}">
    </form>

    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="post col-sm-10">
    <div class="post-heading">
      <div class="post-title">
        <h2>
          {{p.subject}}
          <small>{{p.created.strftime("%b %d, %Y")}}</small>
        </h2>
      </div>
    </div>

    <div class="post-content">
      {{p._render_text() | safe}}
    </div>
  </div>
</div>


{% endblock %}
