{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-1"></div>
  <div class="list-group col-sm-10">
    <form action="/like/{{p.key().id()}}" method="post">
      <a href="/edit/{{ p.key().id() }}" class="btn btn-primary">Edit Post</a>
      <input type="submit" class="btn btn-info" value="{{p._display_like_text(user)}}">
    </form>
    <br>
    <form action="/delete/{{p.key().id()}}" method="post">
      <input type="submit" class="btn btn-danger" value="Delete Post">
    </form>
    
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="post col-sm-10">
    <div class="post-heading">
      <div class="post-title">
        <h2>
          {{p.subject}}
          <small>{{p.created.strftime("%b %d, %Y")}}</small>
        </h2>
      </div>
    </div>

    <div class="post-content">
      {{p._render_text() | safe}}
      <hr>
      <b>{{p._display_like_count()}} Likes</b>
      <hr>
      <form  method="post" action="/comment/{{ p.key().id() }}">
        <textarea rows="5" class="col-sm-12" name="content"></textarea>
        <input type="submit" class="btn btn-primary" value="Add Comment">
      </form>
      <hr>
      {% if p.comment_set[0] %}
      {% for c in p.comment_set %}

        <div>
          <p>
            <b>{{c.user.name}} says:</b>
          </p>
          <p>
            {{c._render_text() | safe}}
          </p>
          <form action="/comment/{{ p.key().id() }}/delete/{{c.key().id()}}" method="post">
            <a href="/comment/{{ p.key().id() }}/edit/{{c.key().id()}}" class="btn btn-sm btn-default">Edit</a>
            <input type="submit" class="btn btn-sm btn-danger" value="Delete">
          </form>
        </div>
        <hr>
      {% endfor %}
      {% endif %}
    </div>

  </div>
</div>


{% endblock %}
